body{
    text-align: center;
    background: linear-gradient(#fcfcfc 0%, #d8bc83 100%);
}
#biome {
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(#fcfcfc 0%, #d8bc83 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
img {
  border: 4px solid #ddd;
  border-radius: 50x;
  padding: 5px;
  text-align: center;
  width: 1000px;
}
.img1 {
    border: 4px solid #ddd;
    border-radius: 20x;
    padding: 3px;
    text-align: center;
    width: 200px;
  }
.line {
    border-width:1px;
    border-style:solid;
    border-color:#9ca2a7; 
    border: 1px solid rgb(165, 168, 165);
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}
.img2 {
    border: 4px solid #ddd;
    border-radius: 20x;
    padding: 3px;
    text-align: center;
    width: 300px;
}

